<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%=link_to image_tag("App", alt: "#"), "Logo.png"%>
    <Center>This my RoR App I built in a hurry</Center>
  <nav>
    <ul class="nav navbar-nav navbar-left">
      <li> <%=link_to "Home", static_controller_home_path %></li>
      <li> <%=link_to "About", static_controller_about_path %></li>
      <li> <%=link_to "Contact Us", contact_path %></li>
      <li> <%=link_to "Help", help_url%></li>
      <li> <%=link_to "Login", "#"%></li>
      <li> <%=link_to "Sign Up", users_new_url%></li>
    </ul>
  </nav>
  </div>
</header> 